%img{src: "http://pcmedlink.org/logo_50.gif", style: "float: left"}
%h1{style(:header, "float" => "left", "margin-left" => "20px") } Welcome, #{@user.name}!
%hr{style(clear: :both)}

%p PC Leavelink is your gateway to submitting leave requests. Requests may be placed through the web or by SMS on your cell phone. 

%p Please follow the link below to activate your account and set-up a password:

%h2{style(:center)}= link_to 'Activate Account', edit_password_url(@user, reset_password_token: @token), style(:header)

%p PC Leavelink is managed by your PCMO. You will receive a confirmation e-mail when you submit a request. You will also receive an e-mail when your request has been processed. This e-mail will contain instructions from your PCMO and inform you of whether your request has been accepted or refused. 
%h3{style(:header)} Instructions for SMS
%p Send an SMS to +1 (202) 999-3852 with the supply short codes of the items you would like and any special instructions. You should format your message like this:

%pre{style(:center)}  Supply Short Code 1, Supply Short Code 2, Supply Short Code 3 - Special Instructions

%p Note that you can order a single item or multiple items in the same SMS message by simply adding additional short codes separated by commas. You can also add special instructions to your order by including a dash "-" after your last supply short code and before your message.

%p If your request is received without errors, you will receive a confirmation that the system received the request. Once your order is processed by the health unit you will receive a response via text and e-mail with the details of how you will receive approved items.

%h3{style(:header)} Short Code List

%table
  - Supply.all.each do |s|
    %tr
      %td= s.name
      %td= s.shortcode

%hr

%p If you need some help to get you started, visit our #{link_to "Help section", help_url} for more information or e-mail us at #{link_to "support@pcmedlink.org", "mailto:support@pcmedlink.org"}.
