- @request.orders.new # Ensure we display a blank order

= content_for :page_title do
  = current_user.pcv? ? "Request Form" : "Place an Order"

= nested_form_for @request do |f|
  = render partial: 'partials/errors', locals: { object: @request }

  .row
    .col-md-6
      - inputs f do |i|

        - if current_user.pcv?
          = title do
            = current_user.name
            %small= current_user.pcv_id
          = f.hidden_field :user_id, value: current_user.id

        - else
          = i.select :user_id,
            current_user.accessible(User).map { |u| [u.name, u.id] },
            {include_blank: true},
            {label: "For Volunteer"}

        .form-group
        %label Time Off Request
        = i.date_field :text, rows: 1, label: "Start Date (MM/DD/YYYY)"
        = i.text_area :text, rows: 1, label: "End Date (MM/DD/YYYY)"

        = i.text_area :text, rows: 3, label: "Desination(s) (City and Country)"
        = i.text_area :text, rows: 1, label: "E-Signature (Type Your Full Name Below)"
        %button.btn.btn-primary(type="submit") Submit

:javascript
  $(function() {
    var next = function() {
      $(this).off();
      $("#add-supply").click();
      $(".supply-select").last().change(next);
    }
    $(".supply-select").change(next);
  });
